LogViewer/Connected Services/SR_ServiceLayer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="GetSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="GetSensorDataResult" nillable="true" type="q1:ArrayOfSensorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="sensorData" nillable="true" type="q2:SensorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>