LogViewer/Connected Services/SR_ServiceLayer/Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSensorModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorModel" nillable="true" type="tns:SensorModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorModel" nillable="true" type="tns:ArrayOfSensorModel" />
  <xs:complexType name="SensorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Sensorname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorModel" nillable="true" type="tns:SensorModel" />
</xs:schema>